---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Layout from '../../components/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import type { PostNode } from '../../lib/wpFunctions';
import { getRecentPosts, getLatestPost } from '../../lib/wpFunctions';

const allPosts = await getRecentPosts("Blog");
const latestPost = await getLatestPost("Blog");

const metadata = {
  title: SITE_TITLE,
  description: SITE_DESCRIPTION,
};

const gradient = true;
// Initial number of posts to show
const initialPostCount = 5;
---

<Layout headerLogoColor='blue' headerIconColor='blue' headerBackground='bg-white' gradient={true}>
  <div class="layoutConstraint text-dark-blue">
    <section class="bg-white py-16 text-center flex flex-col items-center">
      <h1 class="text-4xl font-bold text-center">Stay Ahead of the Curve in Cybersecurity</h1>
      <p class="text-center text-lg mt-4">Get the latest news, insights, and updates from our team of experts.</p>
      {latestPost && (
        <a href={`/blog/${latestPost.slug}/`} class="bg-dark-blue hover:bg-white hover:border-4 hover:text-dark-blue text-white rounded-3xl py-2 px-4 hover:px-3 hover:py-1 cursor-pointer">
          Read the latest article
        </a>
      )}
    </section>
    <section class="w-full flex flex-row">
      <div class="threeQuarters p-4">
        <h2 class="pb-4 text-blue text-3xl font-bold">Blog</h2>
        <ul id="postList">
          {allPosts.slice(0, initialPostCount).map((post: PostNode) => (
            <li class="max-h-[300px] pt-6 pb-2">
              {post.author?.node && <h4 class="author text-dark-blue text-medium text-xl">{post.author.node.name}</h4>}
              <a href={`/blog/${post.slug}/`} class="title text-dark-blue text-4xl">{post.title}</a>
              <p class="excerpt text-dark-blue" set:html={post.excerpt.length > 250 ? post.excerpt.slice(0, 250) + '...' : post.excerpt}></p>
              <div class="flex flex-row justify-between items-center">
                <p class="date !mb-0 text-dark-blue">
                  <FormattedDate date={new Date(post.date)} />
                </p>
                <a href={`/blog/${post.slug}/`} class="read-more text-white px-4 py-2 bg-dark-blue rounded-3xl">Read more</a>
              </div>
            </li>
          ))}
        </ul>
        {allPosts.length > initialPostCount && (
          <button id="loadMore" class="mt-4 bg-dark-blue text-white rounded-3xl px-4 py-2">Load More</button>
        )}
      </div>
      <div class="oneQuarter mb:hidden">
        <aside class="max-w-[200px] p-4 mx-auto flex flex-col justify-center">
          <h4>Categories</h4>
          <ul class="pl-1 pt-4 space-y-4">
            <li><a href="/blog/category/announcements/">Announcements</a></li>
            <li><a href="/blog/category/cybersecurity/">Cybersecurity</a></li>
            <li><a href="/blog/category/industry-news/">Industry News</a></li>
            <li><a href="/blog/category/product-updates/">Product Updates</a></li>
          </ul>
        </aside>
      </div>
    </section>
  </div>
</Layout>

<script is:inline define:vars={{ allPosts, initialPostCount }}>
  window.allPosts = allPosts;
  window.initialPostCount = initialPostCount;
</script>

<script src="../../scripts/loadMorePosts.ts"></script>

<style>
  /* Your styles here */
</style>