---
import Carousel from '../components/Carousel.astro';
import Layout from '../components/Layout.astro';
import { partnerLogos } from '../data/pages.json'; 
import { partners } from '../data/pages.json';
import PathMaker from '../components/PathMaker.astro';

if (!partners) {
  throw new Error('Partners info not found');
}

if (!partnerLogos) {
  throw new Error('Partner Logos info not found');
}

const becomeAPartner = partners.pages.find(page => page.label === "Become a Partner");
if (!becomeAPartner) {
  throw new Error('Page with label "Become a Partner" not found');
}
const metadata = becomeAPartner.metadata;
if (!metadata) {
  throw new Error('Metadata not found');
}
---

<Layout customBackground="/backgroundImage.jpg" headerLogoColor='white' headerIconColor='white' headerBackground='transparent' gradient={false} backgroundColorScript={true} metadata={metadata}>
  
  <section class="section section-a">
    <div id="constraintDiv" class="layoutConstraint">
      <div id="header-text-become-a-partner" class="text-center">
        <h1>Partner Program</h1>
        <h2 id="h2-partner-intro" class="">Unlock the Power of the Ecosystem</h2>
        <p>OneTier partners with cutting-edge technologies to deliver solutions in a 100% channel resale model.</p>
      </div>
      <div class="button-container">
        <div class="-z-10">
          <PathMaker 
        startEdge={'right'}
        startY={[`partner-portal-button`, 'center']}
        endY={[`partner-portal-button`, 'center']}
        endX={[`partner-portal-button`, 'right']}
        offsetStartY={-230}
        offsetEndX={-40}
        midpointX={[`constraintDiv`, 'right']}
        offsetMidpointX={-50}
        strokeColor="white"
        circleColor="cold-white"
        animationDuration={5}
        loopDelay={2}
        uniqueId={`path3`}
        glowDistance={5}
        strokeDasharray="5,5"
        hideOnMobile={true}
    />
  </div>
        <a id="become-a-partner-button" href="https://partners.onetier.com/partner/registration" class="gradient-button partner-button">Become a Partner</a>
        <a id="partner-portal-button" href="https://partners.onetier.com/login" class="gradient-button partner-button">Partner Portal</a>
      </div>
    </div>
  </section>

  <section class="section section-b">
    <h2 class="text-center text-blue !font-medium ">OneTier Featured Partners</h2>
    <div class="partner-carousel">
      <Carousel clients={partnerLogos} scale={1.5} speed={800} scroll={true} />
    </div>
  </section>

  <section id="section-c" class="section section-c layoutConstraint text-white">
    <div id="benefits-intro">
      <div class="-z-10">
        <PathMaker
            startEdge={'left'}
            startY={[`benefits-title`, 'center']}
            offsetStartY={150}
            midpointX={[`section-c`, 'left']}
            endY={[`benefits-title`, 'center']}
            endX={[`benefits-title`, 'center']}
            offsetEndX={-65}
            strokeColor="white"
            circleColor="cold-white"
            animationDuration={5}
            uniqueId={`path2`}
            glowDistance={5}
            strokeDasharray="5,5"
            hideOnDesktop={true}
        />
        <PathMaker
          startEdge={'left'}
          startY={[`benefits-title`, 'center']}
          offsetStartY={150}
          offsetEndX={10}
          midpointX={[`section-c`, 'left']}
          endY={[`benefits-title`, 'center']}
          endX={[`benefits-title`, 'left']}
          strokeColor="white"
          circleColor="cold-white"
          animationDuration={5}
          uniqueId={`path1`}
          glowDistance={5}
          loopDelay={1}
          strokeDasharray="5,5"
          hideOnMobile={true}
      />
        
    </div>
    <h2 id="benefits-title" >Benefits</h2>
    <p>OneTier operates with a 100% channel approach, offering a range of mature, cutting-edge products through a diverse ecosystem of value-added resellers, service integrators, and partners. Our method allows partners to receive a single quote from multiple vendors, reducing contract complexity, speeding up delivery, and boosting profitability. Simplify with OneTier and accelerate your growth!</p>
    <h2>Partnerships with OneTier</h2>
    <h3>Technology Partners</h3>
    <p>OneTier works with cutting edge, software-based technology firms that solve problems felt across the technology landscape. This includes virtualized infrastructure (Network, Compute, Storage), Cybersecurity, and the AI/ML systems allowing for the management or visualization of the architecture.</p>
    <p>We add GaaS to the fire you have already started by providing Channel Development, Sales, Lead Generation, and Sales Engineering as an integrated service, connecting your solution to customers through a diverse partner ecosystem of companies large and small.</p>
    <p>From just ready to scale and build a channel, through to large organizations working to expand market presence and develop new verticals, We help our partners focus on being great at technology, while we focus on being great at Growth.</p>
    
    <div class="flex-container items-center">
      <div class="square"></div>
      <div class="content-half">
        <h3>End User</h3>
        <p>Looking for innovative software solutions to solve business problems? OneTier has integrated solutions to solve your problems. It starts with identifying your Risk And then providing the Infrastructure and Cyber solutions.</p>
      </div>
    </div>
    
    <h3>Reseller Partners</h3>
    <p>The OneTier Channel Ecosystem is comprised of a variety of partners including VARs, SIs, CSPs & MSPs, ISVs, or other consultancies who provide Subject Matter Expertise and deliver integrated solutions to clients and end users. As a Value Added Technology Partner, we bring a variety of support to our Channel Ecosystem including; Sales Enablement, BD & Lead Generation, Sales Engineering, and mature, vetted, cutting edge solutions to the remaining technology gaps faced by many IT organizations today.</p>
  </section>
</Layout>

<style>
  .section {
    padding: 2rem 0;
  }

  .section-a {
    color: white;
  }

  .section-b {
    background: var(--white);
  }


  h1 {
    font-size: clamp(3rem, 2vw + 2rem, 6rem);
    font-weight: 500;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: clamp(2rem, 2vw + 1rem, 4rem);
    margin-bottom: 1rem;
    font-weight: 400;
  }
  h3 {
    font-size: clamp(1.5rem, .5vw + 1rem, 3rem);
    margin-bottom: 1rem;
    font-weight: 300;
  }

  p {
    font-size: clamp(1rem, 0.5vw + .75rem, 2rem);
  }

  .h2-container-width{
    width: clamp(500px, 70%, 1000px);
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  @media (max-width: 650px) {
    
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  }

  .partner-button {
    width: clamp(250px, 10vw, 400px);
    text-align: center;
    font-size: clamp(4px, 0.1vw + 1.25rem, 40px);
    white-space: nowrap;
    padding: 0.75rem 2rem;
  }

  .flex-container {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
  }

  .square {
    content: url('/partner-graphic.png');
    width: 30%;
    aspect-ratio: 1 / 1;
    max-width: 400px;
    min-width: 100px;
    background-color: white;
    border-radius: 3rem;
  }

  .content-half {
    width: 70%;
  }

  @media (max-width: 960px) {
    h3 + p {
      margin-top: 1rem;
    }
    .flex-container {
      flex-direction: column;
    }

    .square {
      width: 75%;
      max-width: none;
    }

    .content-half {
      width: 100%;
    }

    .section-c {
      text-align: center;
    }
  }
</style>