---
import Layout from '../components/Layout.astro';
import CardComponent from '../components/CardComponent.astro';
import ProductSnippet from '../components/ProductSnippet.astro';
import CounterComponent from '../components/react/CounterComponent.jsx';
import { products } from '../data/pages.json';
import ClientsSection from '../components/react/ClientsSection.jsx';
import Lines from '../components/StaticLines.astro';
---

<Layout customBackground={true} gradient="true">
  <div class="mb:hidden">
    <Lines
      id="line-1"
      path="M0 3 L449.32 3 L449.32 1590.83 L7.88 1590.83"
      flipped={true}
      xOffset={0}
      yOffset={1100}
      circleRadius={75}
      circleColor='cold-white'
      viewBox='0 0 770.82 1480.79'
      animationDuration={10}
    />
  </div>
  <div class="justify-center dt:w-[75%] dt:ml-[12.5%] w-[90%] ml-[5%]">
    <div class="max-w-full min-w-[85%] w-[60rem] leading-snug text-left text-wrap text-blue mt-[6vw] mb-[calc(24px+4vw)] space-y-[2.5vw]">
      <h1 class="text-[calc(3vw+3rem)]  break-words w-full font-medium">
          OneTier's AnyCloud Data Secure Portfolio
      </h1>
      
      <button class="gradient-button !text-base">
          More Information
      </button>
    </div>
    <div id="cards" class="flex gap-8 justify-end my-[12vh] mb:hidden">
      <CardComponent
        title="Digital Fight Club"
        subtitle="Thursday, June 26th"
        glassmorphism="true"
        route="/events"
      />
      <CardComponent
        title="Product Highlight"
        subtitle="Risk Engagement"
        glassmorphism="true"
        route="/products/risk-engagement"
      />
    </div>
    <div class="flex flex-col items-center justify-center min-h-[40vw] text-white py-4">
      <div class="pane backdrop-filter backdrop-blur-lg rounded-3xl text-center mb-8 space-y-[10px] w-[75%] py-4 mb:w-full ">
        <p class="text-[calc(16px+1vw)]">
          Cybersecurity threats are slated to cost the world
        </p>
        <CounterComponent 
          targetNumber={10500000000000} 
          duration={3000} 
          emphasize={true} 
          client:visible 
        />
        <p class="text-[calc(16px+1vw)]">
          by 2025
        </p>
      </div>
      <div class="z-10 pane backdrop-filter backdrop-blur-lg rounded-3xl p-[calc(10px+2vw)] text-center w-[75%] mx-[calc(10px+2vw)] my-[calc(10px+2vw)] mb:w-full">
        <h2 class="text-[calc(12px+4vw)] font-bold mb-4 text-white">
          From Zero to Trust
        </h2>
        <p class="text-3xl">
          Here’s how we keep you safe.
        </p>
      </div>
    </div>
    <div class="mt-[8vw] flex flex-col gap-32 dt:gap-64 mb:w-full">
      {products.map((product: any, index: number) => (
        <ProductSnippet
          key={product.href}
          iconSrc={product.iconSrc}
          productName={product.label}
          title={product.title}
          subtitle={product.subtitle}
          url={product.href}
          justify={index % 2 === 0 ? 'left' : 'right'}
        />
      ))}
    </div>
    <div class="mt-[10vw] w-[100vw] transform -translate-x-[12.5%]" >
    <ClientsSection client:load />
    </div>
    <div class="flex items-center justify-center my-[10vh] mb:my-[2vh] mb:space-x-8">
      <!-- glassmorphic background with padding -->
      <div class="flex flex-row items-center dt:space-x-24 justify-center mb:space-x-8 dt:glassmorphic-bg bg-opacity-20 backdrop-filter backdrop-blur-lg rounded-lg w-[calc(60vw+200px)] mb:w-full p-8 mb:h-[40vw] h-[20vw]">
        <div class="text-center flex flex-col items-center h-[25vw] w-full mb:w-[42vw] justify-center">
          <p class="text-white text-[calc(1vw+1rem)] mb:text-[calc(3vw)] mb-4 w-[22vw] mb:w-full h-auto min-h-[6vw] mb:min-h-auto">Learn about the OneTier Partner Program</p>
          <a href="/" class="bg-white dt:mt-[2vw] dt:py-auto text-[calc(1vw+1rem)] mb:text-[calc(3vw)] text-blue font-bold py-4 px-8 rounded-full hover:bg-cold-white w-[22vw] mb:w-[32vw] mb:h-[6vh] dt:h-[8vh] flex items-center justify-center">Partners</a>
        </div>
        <div class="text-center flex flex-col items-center h-[25vw] w-full mb:w-[42vw] justify-center">
          <p class="text-white text-[calc(1vw+1rem)] mb:text-[calc(3vw)] mb-4 w-[22vw] mb:w-full h-auto min-h-[6vw] mb:min-h-[auto]">Join our Newsletter on LinkedIn</p>
          <a href="/" class="bg-white dt:mt-[2vw] text-[calc(1vw+1rem)] mb:text-[calc(3vw)] text-blue font-bold py-4 px-8 rounded-full hover:bg-cold-white w-[22vw] mb:w-[32vw] mb:h-[6vh] dt:h-[8vh] flex items-center justify-center">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
:root {
    --filter-half-blue: rgba(16, 121, 208, .3); /* Semi-transparent blue */
}

html, body {
  overflow-x: hidden;
}

.glassmorphic-bg {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

.pane {
    background-color: var(--filter-half-blue);
    backdrop-filter: 'blur(10px)';
}
</style>