---
import Layout from '../components/Layout.astro'
import { solutions } from '../data/pages.json';
import PathMaker from '../components/PathMaker.astro';
if (!solutions) {
    throw new Error('Solutions info not found');
}
const solutionsInfo = solutions.pages.find(page => page.label === "Solutions");
if (!solutionsInfo) {
    throw new Error('Solutions info not found');
}
const metadata = solutionsInfo.metadata;
if (!metadata) {
    throw new Error('Metadata not found');
}
const snippets = solutionsInfo.snippets;
if (!snippets) {
    throw new Error('Snippets not found');
}
---
<Layout headerLogoColor='white' headerIconColor='white' gradient={false} solidBlue={true} metadata={metadata}>
    <div class="layoutConstraint py-16 flex flex-col">
        <h1 class="text-5xl font-bold text-left text-white">Solutions</h1>
        <h2 class="text-3xl font-bold text-left text-white mt-8 italic">Here's how OneTier meets your needs</h2>
        <p id="solutions-description" class="description text-white text-lg mt-2"><br>OneTier offers a variety of solutions to help your business succeed. Our team of experts is dedicated to providing you with the tools you need to grow your business and reach your goals.<br><br> Whether you need help with marketing, sales, or customer service, we have a solution for you. Our solutions are designed to help you increase revenue, improve customer satisfaction, and drive growth. Contact us today to learn more about how OneTier can help your business succeed.</p>
        <div class="mt-12 grid grid-cols-2 gap-8">
            {snippets.map((solution, index) => (
                <div id={`solution-${index}`} class="solution p-4 flex flex-col items-center">
                    <img id={`solutions-icon-${index}`} src={solution.iconSrc} alt={solution.label} class="w-32 h-32 mb-4" />
                    <h3 class="text-3xl font-bold text-white">{solution.label}</h3>
                    {solution.articles.map(article => (
                        <a href={article.href} class="text-white text-lg hover:text-cold-white pointer-events-none">{article.label}</a>
                    ))}
                </div>
            ))}
        </div>
    </div>
</Layout>
{snippets.map((_, index) => (
    <PathMaker
        startEdge={index % 2 === 0 ? 'left' : 'right'}
        startY={[`solutions-icon-${index % 2 === 0 ? 0 : 1}`, 'center']}
        startYAnchor={[`solutions-icon-${index % 2 === 0 ? 2 : 3}`, 'center']}
        offsetStartY={0}
        midpointX={[`solutions-description`, index % 2 === 0 ? 'left' : 'right']}
        offsetEndX = { (index % 4 === 0) ? 20 :
                       (index % 4 === 1) ? -25 :
                       (index % 4 === 2) ? 0 : 0 }
        endY={[`solutions-icon-${index}`, 'center']}
        endX={[`solutions-icon-${index}`, index % 2 === 0 ? 'left' : 'right']}
        strokeColor="white"
        circleColor="white"
        animationDuration={5}
        animationDelay={index * 1.5}
        uniqueId={`solution-path-${index}`}
        midpointXMinWidth={680}
        secondaryMidpointX={[`solution-${index % 2 === 0 ? 0 : 1}`, index % 2 === 0 ? 'left' : 'right']}
    />
))}
<style>
    @media (max-width: 680px){
        .grid{
            grid-template-columns: 1fr;
        }
        .layoutConstraint{
            align-items: center;
        }
        .solution{
            text-align: center;
            align-items: center;
        }
    }



</style>