---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Layout from '../../components/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import type { PostItem } from '../../types';
import { getNewsPosts } from '../../lib/blogPosts';  // Update the import path as necessary


const posts: PostItem[] = await getNewsPosts();

const sortedPosts = posts.sort((a:any, b:any) =>
  new Date(b.date).getTime() - new Date(a.date).getTime()
);

const recentNews = sortedPosts.slice(0, 3);
const moreNews = sortedPosts.slice(3, 9);

function formatDate(dateString: string) {
  return new Date(dateString).toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  });
}

const hasNews = recentNews.length > 0;

const metadata = {
	title: SITE_TITLE,
	description: SITE_DESCRIPTION,
  };

const gradient = true;


---

<Layout headerLogoColor='blue' headerIconColor='blue' headerBackground='bg-white' gradient={true}>
	<div class="layoutConstraint text-dark-blue">
		
	<section class="bg-white py-16 text-center flex flex-col items-center">
		<h1 class="text-4xl font-bold text-center">Stay Ahead of the Curve in Cybersecurity</h1>
		<p class="text-center text-lg mt-4">Get the latest news, insights, and updates from our team of experts.</p>
		<a class="bg-dark-blue text-white rounded-3xl px-4 py-2">Read the latest article</a>

	</section>
	<h2 class="text-3xl font-bold mb-6">News</h2>
	{hasNews ? (
	  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-12">
		{recentNews.map((post) => (
		  <div class="bg-blue aspect-square p-4 oneQuarter rounded-3xl">
			<h3 class="text-white font-bold">{post.title}</h3>
			<p class="text-white">{formatDate(post.date)}</p>
			<!-- Add more post content as needed -->
		  </div>
		))}
		<div class="col-span-full text-right">
		  <a href="/news" class="text-blue hover:underline">&gt; View all news</a>
		</div>
	  </div>
	) : (
	  <p>No news articles available at the moment.</p>
	)}

	{moreNews.length > 0 && (
	  <>
		<h2 class="text-3xl font-bold mb-6">More News</h2>
		<table class="w-full">
		  <thead>
			<tr>
			  <th class="text-left">Title</th>
			  <th class="text-left">Date</th>
			</tr>
		  </thead>
		  <tbody>
			{moreNews.map(post => (
			  <tr>
				<td>{post.title}</td>
				<td>{formatDate(post.date)}</td>
			  </tr>
			))}
		  </tbody>
		</table>
	  </>
	)}
  </div>
</section>
</Layout>

<style>
table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
td, th {
  padding: 0.5em 0;
}
tr:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
</style>