---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Metadata {
  title: string;
  description: string;
  image?: string;
  keywords?: string;
  author?: string;
  robots?: string;
  og?: {
    type?: string;
    url?: string;
    title?: string;
    description?: string;
    image?: string;
  };
  twitter?: {
    card?: string;
    url?: string;
    title?: string;
    description?: string;
    image?: string;
  };
}

const metadata: Metadata = Astro.props.metadata;

const {
  title = "OneTier",
  description = "Innovation through Integration",
  image = '/OT-card.jpg', // Default to OT-card.jpg
  keywords = '',
  author = '',
  robots = 'index',
  og = {},
  twitter = {}
} = metadata;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL(og.image || image, Astro.url);
const twitterImage = new URL(twitter.image || image, Astro.url);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/K2D/K2D-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/K2D/K2D-Bold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="sitemap" href="/sitemap.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />
<meta name="robots" content={robots} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={og.type || 'website'} />
<meta property="og:url" content={og.url || Astro.url} />
<meta property="og:title" content={og.title || title} />
<meta property="og:description" content={og.description || description} />
<meta property="og:image" content={ogImage} />

<!-- Twitter -->
<meta property="twitter:card" content={twitter.card || 'summary_large_image'} />
<meta property="twitter:url" content={twitter.url || Astro.url} />
<meta property="twitter:title" content={twitter.title || title} />
<meta property="twitter:description" content={twitter.description || description} />
<meta property="twitter:image" content={twitterImage} />