---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../components/Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';

const props = Astro.props;


const { title, date, categories, tags, author, excerpt, content, featuredImage } = props;
---

<Layout headerLogoColor='blue' headerIconColor='blue' headerBackground='bg-white' gradient={true}>
      <article>
        <div class="hero-image">
          {featuredImage && <img width={1020} height={510} src={featuredImage.node.sourceUrl} alt={featuredImage.node.altText || ''} />}
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={new Date(date)} />
            </div>
            <h1>{title}</h1>
            <p>Author: {author}</p>
            <p>Category: {categories}</p>
            <p>Tags: {tags}</p>
            <hr />
          </div>
          <div class="excerpt">
            <p>{excerpt}</p>
          </div>
         <div class="content" {...({ dangerouslySetInnerHTML: { __html: content } } as any)} />
        </div>
      </article>
    </Layout>